.confirm[@user_filter, :confirm]
  #{t :delete} <b>#{@user_filter.name}</b>?&nbsp;
  = link_to_delete(@user_filter) << " : "
  = link_to_function(t(:no_button), "crm.flick('#{dom_id(@user_filter, :confirm)}', 'remove')")
